/* styles.css */

.messages {
  padding: 20px;
  overflow-y: auto;
  flex-direction: column;
}

@media (max-width: 768px) {
  .messages {
    padding: 10px;
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  h1 {
    font-size: 20px; /* Smaller heading for mobile */
  }

  h2 {
    font-size: 16px; /* Smaller subheading for mobile */
  }

  h3 {
    font-size: 14px; /* Smaller subheading for mobile */
  }
}
