@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Kalam:wght@300;400;700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Jura:wght@300..700&family=Kalam:wght@300;400;700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 
.App{
    
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 130vh;
        margin: 0; */
        background-color: #f0f0f0;
      
}     
::-webkit-scrollbar {
        width: 0px;
      }
      
      ::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.281);
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }